.hero {
  height: 75vh;
  margin-top: 11vh;
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  background-color: white;
  padding: 1rem;
  border-radius: 14px 0 0 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 40%;
}

.hero-image {
  flex: 1;
  position: relative; 
  border-radius: 0 14px 14px 0;
  overflow: hidden; 
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.hero-img {
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.text {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.buttons {
  margin-top: 1rem;
}

.hero-btn {
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .hero {
    height: 55vh;
    margin-top: 10vh;
  }

  .text {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 10vh;
  }

  .hero-text {
    width: 100%;
    height: auto;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
  }

  .hero-image {
    display: none; 
  }

  .text {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .MuiButton-root {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-text {
    padding: 1rem;
  }

  .text {
    font-size: 1rem;
  }
}
