.flow {
  min-height: 55vh;
  background-color: white;
  border-radius: 14px;
  margin: 0 3rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 1rem;
}

.steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}

.step {
  width: 20%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 14px;
  /* background-color: #a76c6c; */
  min-width: 238px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.step:nth-child(1) {
    background-color: rgb(247, 247, 87);
  }
  
  .step:nth-child(2) {
    background-color: rgb(96, 225, 96);
  }
  
  .step:nth-child(3) {
    background-color: rgb(173, 57, 173);
  }
  
  .step:nth-child(4) {
    background-color: rgb(213, 163, 70);
  }

  .step h1{
    font-size: 3rem;
  }
